@import "src/app/styles/styles";

.tsd-alert {
  position: fixed;

  top: 30px;
  right: 30px;

  display: flex;
  justify-content: space-between;
  overflow-wrap: anywhere;

  min-width: 200px;
  max-width: 200px;

  padding: 15px;

  border-radius: 15px;

  opacity: 60%;

  background: $color-red-1;

  &__button {
    display: block;
  }

  &__text {
    font-weight: 500;
    font-size: 12px;
    color: $color-white-1;
    max-width: 100%;
  }
}
